{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/justified-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

   <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
   <script src=" {% static 'js/jquery-1.10.2.js' %}"></script>
   <script src=" {% static 'js/jquery-ui.js' %}"></script>
   <script src="{% static 'js/datepicker.js' %}"></script>
   <script src="{% static 'js/reservation_datepicker.js' %}"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <script src="{% static 'js/timeslider.js' %}"></script>

  </head>

  <body onload = "startTimer()">



<div class="container">
{% include "navbar.html" %}

{% block content %}

{% endblock %}


</div>

  </body>
</html>