{% extends 'base.html'%}
{% load staticfiles %}


{% block content %}

<!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Pokoje
                    <small>My wiemy jak o Ciebie zadbać!!!</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{% static 'img/pokoj1osob.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Pokój Lux</h3>
                <h4>Jedno osobowy</h4>
                <p>Luksusowy elegancki (około 40m2). Wyposażony w łóżko małżeńskie zapewnia idealne warunki do pracy i wypoczynku. W pokoju znajdziecie Państwo łoże małżeńskie, dodatkowa rozkładana sofa, biurko, przewodowy lub bezprzewodowy dostęp do Internetu, telewizor LCD, naziemna telewizja cyfrowa, przestronna łazienka. Każdy pokój posiada własny balkon lub taras. Na życzenie w recepcji: deska do prasowania, żelazko, czajnik bezprzewodowy, dodatkowy ręcznik, łóżeczko dla dziecka, nocnik dla dziecka, nakładkę na toaletę dla dziecka. Sejf w recepcji. Nielimitowane bezpłatne korzystanie z kompleksu basenowego: basen, brodzik dla najmłodszych, sauna sucha, sauna parowa, sauna na podczerwień. W cenę wliczone jest śniadanie.</p>
                <a class="btn btn-primary" href="{% url 'reservation' pk=1 %}">Przejdz do rezerwacji <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{% static 'img/pokoj2osob.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Pokój Comfort</h3>
                <h4>Dwuosobowy</h4>
                <p>Elegancki (około 30 m2), wygodny i szykowny pokój, zaprojektowany tak, aby sprostać oczekiwaniom nawet najbardziej wymagającego gościa, może być przeznaczony dla dwóch, jak i jednej osoby. W pokoju znajdziecie Państwo łoże małżeńskie lub osobne dwa łóżka, biurko, przewodowy lub bezprzewodowy dostęp do Internetu, telewizor LCD, naziemna telewizja cyfrowa, przestronna łazienka. Każdy pokój posiada własny balkon lub taras. Na życzenie w recepcji: deska do prasowania, żelazko, czajnik bezprzewodowy, dodatkowy ręcznik, łóżeczko dla dziecka, nocnik dla dziecka, nakładkę na toaletę dla dziecka. Sejf w recepcji. Nielimitowane bezpłatne korzystanie z kompleksu basenowego: basen, brodzik dla najmłodszych, sauna sucha, sauna parowa, sauna na podczerwień. W cenę wliczone jest śniadanie.</p>
                <a class="btn btn-primary" href="{% url 'reservation' pk=2 %}">Przejdz do rezerwacji <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{% static 'img/pokoj3osob.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Apartament</h3>
                <h4>Trzy osobowy</h4>
                <p>2-pokojowy, wyjątkowo duży (około 40 m2) apartament składający się z sypialni wyposażonej w łoże małżeńskie oraz pokoju dziennego z rozkładaną kanapą. W pokoju znajdziecie Państwo łoże małżeńskie, rozkładana kanapa w pokoju dziennym, przestronna łazienka z dodatkową osobną toaletą, każdy pokój posiada własny balkon, biurko, przewodowy lub bezprzewodowy dostęp do Internetu, telewizor LCD, naziemna telewizja cyfrowa, przestronna łazienka. Każdy pokój posiada własny balkon, a cześć apartamentów dodatkowe wyjście na hotelowy taras. Na życzenie z recepcji: deska do prasowania, żelazko, czajnik bezprzewodowy, łóżeczko dla dzieci, nocnik, nakładkę dla dziecka na toaletę, dodatkowy ręcznik. Sejf w recepcji. Nielimitowane bezpłatne korzystanie z kompleksu basenowego: basen, brodzik dla najmłodszych, sauna sucha, sauna parowa, sauna na podczerwień. W cenę wliczone jest śniadanie</p>
                <a class="btn btn-primary" href="{% url 'reservation' pk=3 %}">Przejdz do rezerwacji <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

{% endblock content %}

