{% extends 'base.html'%}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<form action="" method="POST">{% csrf_token %}
<div class="reservation" >
    <div class="row">
        <div class="col-md-8">
            <ul class="slides">
                <input type="radio" name="radio-btn" id="img-1" checked />
                <li class="slide-container">
                    <div class="slide">
                        <img src="{% static 'img/slide_1.jpg' %}" class="img-responsive" alt="Cinque Terre"/>
                    </div>
                </li>
                <input type="radio" name="radio-btn" id="img-2" />
                <li class="slide-container">
                    <div class="slide">
                      <img src="{% static 'img/slide_2.jpg' %}" class="img-responsive" alt="Cinque Terre"/>
                    </div>
                </li>
                <input type="radio" name="radio-btn" id="img-3" />
                <li class="slide-container">
                    <div class="slide">
                      <img src="{% static 'img/slide_3.jpg' %}" class="img-responsive" alt="Cinque Terre"/>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Rezerwacja</h1>
            <p>{{ form|crispy }}</p>
            <a><input class="btn btn-block btn-primary" type="submit" value="Zapisz"/></a>
        </div>
        <!-- /.col-md-4 -->
    </div>
        <!-- /.row -->

    <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Rezerwacja</h4>
              </div>
              <div class="modal-body">
                <p>{{ title }}</p>
              </div>
              <div class="modal-footer">
                  <a href=""><input class="btn btn-block btn-primary" type="submit" value="Ok" data-dismiss="modal"/></a>
              </div>
            </div>
        </div>
    </div>
</div>


</form>






{% if form.errors or form.is_valid %}
    <script>
    $('#myModal').modal('show');
    </script>
{% endif %}

{% endblock content %}