{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Room reservation</th>
      <th>Start reservation</th>
      <th>End reserwation</th>
      <th>User name</th>
      <th>User PESEL</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
    {% for instance in queryset %}
    <tbody>
    <tr>
      <th scope="row">{{ instance.id }}</th>
      <td align="center">{{ instance.room_type}}</td>
      <td align="center">{{ instance.start_reservation|date:"Y-m-d" }}</td>
      <td align="center">{{ instance.end_reservation|date:"Y-m-d" }}</td>
      <td align="center">{{ instance.user_name }}</td>
      <td align="center">{{ instance.user_pesel}}</td>
      <td><a href="{% url 'edit' pk=instance.id %}"><input class="btn btn-block btn-primary" type="submit" value="Edytuj"/></a></td>
      <td><input class="btn btn-block btn-danger" type="submit" value="Usuń" data-toggle="modal" data-target=".bs-example-modal-sm"/></td>


        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Usuwanie</h4>
                  </div>
                  <div class="modal-body">
                    <p>Czy na pewno chcesz usunąć rezerwację? Utracisz wszystkie dane dotyczące tej rezerwacji.</p>
                  </div>
                  <div class="modal-footer">
                      <a href="{% url 'reservations' %}"><input class="col-md-2 btn btn-block btn-primary" type="submit" value="Nie"/></a>
                      <a href="{% url 'delete' pk=instance.id %}"><input class="col-md-2 btn btn-block btn-danger" type="submit" value="Tak"/></a>
                  </div>
                </div>
              </div>
        </div>


    </tr>
    </tbody>

    {% endfor %}

</table>


{% endblock content %}


