body {
    background-color: #CECECE;
    padding-bottom: 50px;
}

.control-label {
    color: #333;
}

.table {
    margin-top: 60px;
    border-radius: 6px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #009DFF;
}

thead {
    background-color: #5A5A5A;
}

tbody {
    background-color: #5A5A5A;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand:hover {
    color: #009DFF;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #009DFF;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #009DFF;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    color: #FFFFFF;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    text-align: center;
}

label {
    color: #FFFFFF;
}

.title {
    font-size: 25px;
    text-align: center;
}

.reservation-form {
    border-radius: 6px;
    background-color: #5A5A5A;
    padding-bottom: 10px;
    margin-bottom: 0;
}

input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.btn .btn-block .btn-primary {
    margin-bottom: 15px;
}

.ui-datepicker-next .ui-corner-all span {
    color: #0f0f0f;
}

.container a:hover {
    text-decoration: none;
}

.modal-footer a {
    display: inline-block;
}

.reservation {
    margin-top: 50px;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    display: block;
    position: absolute;
    transition: all .7s ease-in-out;
}

input:checked + .slide-container  .slide {
    opacity: 1;

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container { display: block; }





















